GLPI_BASE_URL=https://chamados.bm3group.com.br/apirest.php
GLPI_APP_TOKEN=
GLPI_USER_TOKEN=
GLPI_SSL_VERIFY=false
GLPI_PROJECT_FIELD=10500
GLPI_PROJECT_TAG=3
GLPI_PROJECT_TAG_LABEL=PROJETOS
GLPI_OPEN_DATE_FIELD=15
GLPI_SOLUTION_TIME_FIELD=18
GLPI_PAGE_SIZE=50
APP_TIMEZONE=America/Sao_Paulo
